[Unit]
Description=Magic Mirror Service
After=network.target

[Service]
Type=simple
User=%%USER%%
WorkingDirectory=%%HOME_DIR%%
ExecStart=%%ENTRY_POINT%%
Restart=on-failure

[Install]
WantedBy=multi-user.target